body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    padding: 20px;
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}

.logo img {
    width: 120px;
    height: 120px;
    margin-top: 10px;
}

.buttons button{
    display:block;
    width:200px;
    margin: 20px auto;
}

button {
    padding: 12px 25px;
    margin: 60px;
    width: 200px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    color: rgb(146, 160, 88);
}

button:hover {
    opacity: 0.8;
}

.form-box {
    margin-top: 20px;
    display: none;
}

input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

.disclaimer {
    margin-top: 40px;
    font-size: 14px;
    color: lightgray;
    padding: 10px;
}

footer {
    margin-top: 40px;
    font-size: 16px;
}