@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'
);


*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Poppins,Arial;

}



body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#050505;

color:white;

overflow:auto;

}



/* RGB background */

body::before{

content:"";

position:fixed;

width:500px;

height:500px;

background:cyan;

border-radius:50%;

filter:blur(180px);

top:-150px;

left:-150px;

}



body::after{

content:"";

position:fixed;

width:500px;

height:500px;

background:#ff00ff;

border-radius:50%;

filter:blur(180px);

bottom:-150px;

right:-150px;

}



.profile-box{

position:relative;

z-index:1;

width:450px;

padding:40px;

background:rgba(0,0,0,.75);

border-radius:25px;

border:2px solid cyan;

box-shadow:

0 0 20px cyan,

0 0 50px magenta;


text-align:center;

}



h1{

font-size:35px;

color:white;

text-shadow:

0 0 15px cyan;

margin-bottom:20px;

}



.profile-img{

width:160px;

height:160px;

border-radius:50%;

object-fit:cover;

border:5px solid cyan;

box-shadow:

0 0 25px cyan,

0 0 50px blue;


margin:20px;

}



label{

display:block;

text-align:left;

margin-top:15px;

color:#00ffff;

}



input{

width:100%;

padding:14px;

margin-top:8px;

background:#111;

border:1px solid cyan;

border-radius:12px;

color:white;

outline:none;

}



input:focus{

box-shadow:0 0 20px cyan;

}



button{

width:100%;

padding:15px;

margin-top:25px;

border:none;

border-radius:50px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}



.save{

background:#00ff99;

color:black;

box-shadow:

0 0 20px #00ff99;

}



.next{

background:#ff00ff;

color:white;

box-shadow:

0 0 25px magenta;

}



button:hover{

transform:scale(1.05);

}



.user-info{

color:#ddd;

}